langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
beautifulsoup4
streamlit
langchain_groq
duckduckgo-search
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain_community
langchain-ollama
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
ipykernel
SQLAlchemy
mysql-connector-python
huggingface_hub
cassio
datasets
PyPDF2
gradio